@CHARSET "UTF-8";

html body {
	height: 100%;
}

.left-bar {
    background: #2196F3;
    min-height: 100%;
    padding-bottom: 32px;
    padding-top: 16px;
    
}

.search-bar {
    height: 110px;
}

.barnar {
    height: 100px;
}

.barnar  a.barnar-title {
    line-height: 50px;
/*    font-size: 2.4em;*/
    color: #fff;
/*    font-family: consolas;*/
}

.barnar .barnar-description  {
    text-indent: 2em;
    font-size: 11px;
    display: block;
}

.barnar p {
    text-indent: 2em;
}

a.white-label {
    color: #fff;
}


.am-profile a[class^='am-icon']:hover {
    color: #ddd;
}

.am-footer-gray {
	background: rgba(0,0,0,0.8);
	height: 160px;
}

.am-footer-gray .white-foreground {
	color: #fff;
}

.am-footer-gray .white-foreground a {
	color: #eee;
}


footer .share-group {
	margin-left: auto;
    margin-right: auto;
    height: 64px;
    margin-top: 8px;
}

footer .share-group a:before {
	font-size: 24;
	display: block;
	padding-bottom: 2px;
	box-sizing: border-box;
}

footer .share-group a[class^='am-'] {
	margin-left: 4px;
    
}

.search-bar .am-input-group { 
	margin-top: 48px;
}

.am-article-panel .am-panel-bd .am-article-content{
    text-indent: 2em;
}

.am-article-footer {
    height: 32px;
    margin-top: 8px;
}

.am-article-footer .am-fr span {
	font-size: 10px;
}

.am-article-footer .am-fr span .icon-label{
	margin-right: 4px;
}

.am-article-footer .am-fr span {
	margin-right: 10px;
}

.white-nav > a[class='am-icon-']:before {
    padding-right: 4px;
    display: inline-block;
}

/*@media only screen and (min-width: 1200px) {
	.blog-g-fixed {
		max-width: 1200px;
	}
}

@media only screen and (min-width: 641px) {
	.blog-sidebar {
		font-size: 1.4rem;
	}
}*/

.blog-main {
	padding: 20px 0;
}

.blog-title {
	margin: 10px 0 20px 0;
}

.blog-meta {
	font-size: 14px;
	margin: 10px 0 20px 0;
	color: #222;
}

.blog-meta a {
	color: #27ae60;
}

.blog-pagination a {
	font-size: 1.4rem;
}

.blog-team li {
	padding: 4px;
}

.blog-team img {
	margin-bottom: 0;
}

.blog-content img,
.blog-team img {
	max-width: 100%;
	height: auto;
}

.blog-footer {
	padding: 10px 0;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}


.article-footer {
	height: 48px;
}


.am-article-shortcut {
	min-height: 160px;
}


code {
	word-break: break-word;
	white-space: normal;
}
